[Desktop Entry]
Name=IntelliJ IDEA
Comment=IntelliJ IDEA
Exec=sh /opt/idea-IC-231.9011.34/bin/idea.sh
Icon=/opt/idea-IC-231.9011.34/bin/idea3.svg
Terminal=false
Type=Application
Categories=Developer
